/*Define the style of dashboard.html*/

body {
  padding-top: 10px;
  padding-bottom: 30px;
}

#popDiv{
    cursor: wait !important;
    margin-top:0%;
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%; height: 100%;
    background-color: black;
    z-index:2000; -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=5);
}

#videopopDiv{
    cursor: wait !important;
    margin-top:0%;
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%; height: 100%;
    background-color: black;
    z-index:2000; -moz-opacity: 0.0;
    opacity:.0;
    filter: alpha(opacity=5);
}


#loading{ 
    cursor: wait !important;
    position:fixed;_position:absolute;
    display: none;
    top:50%;left:50%;
    width:124px;height:124px;
    overflow:hidden;
    background:url(../img/loaderc.gif) no-repeat;z-index:2007;
    margin:-62px 0 0 -62px;
}
 
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/*added by keying for slider*/

.vaxis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vaxis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.vaxis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 5px;
  stroke-linecap: round;
}

.vbrush .vhandle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1px;
  cursor: crosshair;
}

#slider {
  width:450px;
}


/*added by keying for submenu*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/* time selector graph*/
.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

