
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">

    <title>LSDE</title>

    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <link rel="shortcut icon" href="static/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    
    <link href="static/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/leaflet.css" />
    <link rel="stylesheet" href="static/css/leaflet.draw.css" />
    <link rel="stylesheet" href="static/css/d3.slider.css" /> 

    <!-- Fonts -->
    <link href="static/css/googlefont_1.css" rel="stylesheet" type="text/css">
    <link href="static/css/googlefont_2.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- <link href="static/css/" rel="stylesheet" type="text/css"> -->
    <link href="{{ url_for('static', filename='css/xfilter.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/theme.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

  </head>

  <body role="document">

    <div id="popDiv"></div>
    <div id="loading"></div>
    <div id="videopopDiv"></div>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">LarSDE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="dashboard.html">Dashboard</a></li>
            <li><a href="logout.html">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid" id="maincontainer" role="main" style="padding: 0px;">
      <div class="row" style="margin: 0px; white-space:nowrap;">
        <div class="col-lg-6" id="mapcol" style="padding:3px; width: 370px">
          <div class="panel panel-default" id="mappanel" style="height: 472px">
            <div class="panel-heading">
              <h3 class="panel-title">Map</h3>
            </div>
            <div class="panel-body" style="padding: 3px">
              <div id="map" style="width: 360px; height: 432px; padding: 0px"/>
            </div>
          </div>

        </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-md-6" style="width: 700px; padding: 3px;">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#camera">Street Cameras</a></li>
            <li><a data-toggle="tab" href="#socialinfo">Social Media</a></li>
          </ul>

          <div class="tab-content">
             <div id="camera" class="tab-pane fade in active">
               <div class="panel panel-primary">
                 <div class="panel-heading">
                   <h3 class="panel-title">Video Player</h3>
                 </div>
                 <div class="panel-body">
                   <table>
                    <tr><td>
                      <div style="display:flex">
                        <div id = "vspeed1" style="margin:10px; height: 240px"></div>
                           <div>
                              <canvas id="myPic" style="width: 352px; height: 240px; cursor: pointer;" onclick="playpause()"></canvas>
                           </div>
                           <div id= "step_speed" class="btn-group-vertical" style="margin:10px; height: 240px" data-toggle="buttons">
                             <label class="btn btn-default">Step Size
                             </label>
                             <label class="btn btn-primary" onclick="step_size(1000)">
                               <input type="radio" name="options" id="step_sec" autocomplete="off"> Sec
                             </label>
                             <label class="btn btn-primary" onclick="step_size(60*1000)">
                               <input type="radio" name="options" id="step_min" autocomplete="off"> Min
                             </label>
                             <label class="btn active btn-primary" onclick="step_size(60*60*1000)">
                               <input type="radio" name="options" id="step_hour" autocomplete="off" checked> Hour
                             </label>
                             <label class="btn btn-primary" onclick="step_size(12*60*60*1000)">
                               <input type="radio" name="options" id="step_halfD" autocomplete="off"> Half Day
                             </label>
                             <label class="btn btn-primary" onclick="step_size(24*60*60*1000)">
                               <input type="radio" name="options" id="step_Day" autocomplete="off"> Day
                             </label>
                             <label class="btn btn-primary" onclick="step_size(7*24*60*60*1000)">
                               <input type="radio" name="options" id="Step_week" autocomplete="off"> Week
                             </label>
                           </div>
                      </div>
                    </td>
                    <td valign="top">
                      <div>
                        <label class="btn btn-default">Object Detection</label>
                        <input id="toggleObjectDetection" type="checkbox" data-toggle="toggle"><br/>
                        <label class="btn btn-default">Object Tracking&nbsp;</label>
                        <input id="toggleObjectTracking" type="checkbox" data-toggle="toggle">
                      </div>
                    </td></tr>
                    <tr><td>
                      <div id = "slider"  >
                      <!-- style="height:20px" -->
                      </div>
                      <div id = "cursorposition" style="text-align:center"></div>
                        <table style="margin-left:auto; margin-right:auto;">
                          <tr>
                            <td style="padding: 10px">
			      <img id="Rewind" src="static/img/rewind.png" style="width: 32px; height: 21px; cursor: pointer;" onclick="rewind()"/>
                            </td>
                            <td style="padding: 10px">
			      <img id="Playpause" style="width: 32px; height: 32px; cursor: pointer;" onclick="playpause()"/>
                            </td>
                            <td style="padding: 10px">
			      <img id="Forward" src="static/img/forward.png" style="width: 32px; height: 21px; cursor: pointer;" onclick="forward()"/>
                            </td>
                          </tr>
                        </table>
                      <div><p id= "vcurtime"></p></div>
                    </td></tr>
                </table>
                 </div>
               </div>
               <div class="panel panel-info">
                 <div class="panel-heading">
                   <h3 class="panel-title">Time Selector</h3>
                 </div>
                 <div class="panel-body" align="center">
                   <div id="timechart"></div>
                   <div class="input-group">
                     <div style = "padding: 0px; margin: 0px auto" class='col-lg-6'>
                       <div class="input-group" style = "width: 200px">
                         <div class='input-group date' id='datetimepicker1'>
                           <input type='text' class="form-control" />
                             <span class="input-group-addon">
                               <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                       </div>
                     </div>
                     <div style = "padding: 0px"  class='col-lg-6'>
                       <div class="input-group" style = "width: 200px">
                         <div class='input-group date' id='datetimepicker2'>
                           <input type='text' class="form-control" />
                             <span class="input-group-addon">
                               <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="panel panel-warning">
                 <div class="panel-heading">
                   <h3 class="panel-title">Create & Load Event</h3>
                 </div>
                 <div class="panel-body">
                   <div class="input-group" style = "padding: 10px">
                     <input type="text" id="eventname" name="event_name" class="form-control" placeholder="Please set description of event">
                       <span class="input-group-btn">
                         <button class="btn btn-default"type="submit" onclick="createEvent2()">Create Event</button>
                       </span>
                   </div><!-- /input-group -->
                   <div style="height: 300px; overflow-y:auto;">
                     <table class="table table-bordered table-condensed table-striped table-hover">
                       <thead>
                         <tr><th>Id</th><th>Description</th><th>Camera</th><th>Start Time</th><th>End Time</th><th>Tag</th></tr>
                       </thead>
                       <tbody id="load_event_list">
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
            </div>
            <div id="socialinfo" class="tab-pane fade">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Time Selector</h3>
                </div>
                <div class="panel-body" style="padding: 3px">
                  <div id="hour-chart" class="chart">
                    <div class="title">Time of Day</div>
                  </div><br>
                  <div id="date-chart" class="chart">
                    <div class="title">Date</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6" style="width: 346px">
                  <div class="panel panel-info" style = "height: 300px">
                    <div class="panel-heading">
                      <h3 class="panel-title">WAZE and Tweet Search</h3>
                    </div>
                    <div class="panel-body" style = "padding: 3px">
                      <div class="dropdown" style = "margin: 5px">
                        <!-- Link or button to toggle dropdown -->
                        <button id = "alertBtn"class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Please Select and Alert Type
                          <span class="caret"></span></button>
                          <button id = "alertRes"class="btn btn-default" type="button" onclick = "waze_twitter(false,true, 'Alert Type')" aria-haspopup="true" aria-expanded="true">Reset
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <!-- click on one of the options and
                            collect the result of that option
                            set the type to that option -->
                            <li class="dropdown-submenu">
                              <a tabindex="-1"> accident </a>
                              <ul class="dropdown-menu">
                                <li><a tabindex="-1" onclick="waze_twitter(true, true,'ACCIDENT')"> ALL</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'ACCIDENT_MAJOR')"> ACCIDENT_MAJOR</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'ACCIDENT_MINOR')"> ACCIDENT_MINOR</a></li>
                              </ul>
                            </li>
                            <li>
                              <a tabindex="-1" onclick="waze_twitter(true, true,'CHIT_CHAT')"> chit_chat </a>
                            </li>
                            <li class="dropdown-submenu">
                              <a tabindex="-1"> hazard </a>
                              <ul class="dropdown-menu">
                                <li><a tabindex="-1" onclick="waze_twitter(true, true,'HAZARD')"> ALL</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_ROAD')"> HAZARD_ON_ROAD</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_ROAD_CAR_STOPPED')"> HAZARD_ON_ROAD_CAR_STOPPED</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_ROAD_CONSTRUCTION')"> HAZARD_ON_ROAD_CONSTRUCTION</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_ROAD_ICE')"> HAZARD_ON_ROAD_ICE</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_ROAD_LANE_CLOSED')"> HAZARD_ON_ROAD_LANE_CLOSED</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_ROAD_OBJECT')"> HAZARD_ON_ROAD_OBJECT</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_ROAD_POT_HOLE')"> HAZARD_ON_ROAD_POT_HOLE</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_ROAD_ROAD_KILL')"> HAZARD_ON_ROAD_ROAD_KILL</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_SHOULDER')"> HAZARD_ON_SHOULDER</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_SHOULDER_ANIMALS')"> HAZARD_ON_SHOULDER_ANIMALS</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_ON_SHOULDER_CAR_STOPPED')"> HAZARD_ON_SHOULDER_CAR_STOPPED</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_WEATHER')"> HAZARD_WEATHER</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_WEATHER_FLOOD')"> HAZARD_WEATHER_FLOOD</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_WEATHER_FOG')"> HAZARD_WEATHER_FOG</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_WEATHER_HAIL')"> HAZARD_WEATHER_HAIL</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_WEATHER_HEAVY_RAIN')"> HAZARD_WEATHER_HEAVY_RAIN</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_WEATHER_HEAVY_SNOW')"> HAZARD_WEATHER_HEAVY_SNOW</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_WEATHER_HURRICANE')"> HAZARD_WEATHER_HURRICANE</a></li>
                                <li><a tabindex="-1" onclick="waze_twitter(false, true,'HAZARD_WEATHER_TORNADO')"> HAZARD_WEATHER_TORNADO</a></li>
                              </ul>
                          </li>
                          <li class="dropdown-submenu">
                            <a tabindex="-1"> jam </a>
                            <ul class="dropdown-menu">
                              <li><a tabindex="-1" onclick="waze_twitter(true,true,'JAM')"> ALL</a></li>
                              <li><a tabindex="-1" onclick="waze_twitter(false,true, 'JAM_HEAVY_TRAFFIC')"> JAM_HEAVY_TRAFFIC</a></li>
                              <li><a tabindex="-1" onclick="waze_twitter(false,true, 'JAM_MODERATE_TRAFFIC')"> JAM_MODERATE_TRAFFIC</a></li>
                              <li><a tabindex="-1" onclick="waze_twitter(false,true, 'JAM_STAND_STILL_TRAFFIC')"> JAM_STAND_STILL_TRAFFIC</a></li>
                            </ul>
                          </li>
                          <li>
                            <a tabindex="-1" onclick="waze_twitter(true,true,'MISC')"> misc</a>
                          </li>
                          <li class="dropdown-submenu">
                            <a tabindex="-1"> police </a>
                            <ul class="dropdown-menu">
                              <li><a tabindex="-1" onclick="waze_twitter(true,true,'POLICE')"> ALL</a></li>
                              <li><a tabindex="-1" onclick="waze_twitter(false,true, 'POLICE_HIDING')"> POLICE_HIDING</a></li>
                              <li><a tabindex="-1" onclick="waze_twitter(false,true, 'POLICE_VISIBLE')"> POLICE_VISIBLE</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu">
                            <a tabindex="-1"> road_closed </a>
                            <ul class="dropdown-menu">
                              <li><a tabindex="-1" onclick="waze_twitter(true,true,'ROAD_CLOSED')"> ALL</a></li>
                              <li><a tabindex="-1" onclick="waze_twitter(false,true, 'ROAD_CLOSED_CONSTRUCTION')"> ROAD_CLOSED_CONSTRUCTION</a></li>
                              <li><a tabindex="-1" onclick="waze_twitter(false,true, 'ROAD_CLOSED_EVENT')"> ROAD_CLOSED_EVENT</a></li>
                              <li><a tabindex="-1" onclick="waze_twitter(false,true, 'ROAD_CLOSED_HAZARD')"> ROAD_CLOSED_HAZARD</a></li>
                            </ul>
                          </li>
                          <li>
                            <a tabindex="-1" onclick="waze_twitter(true,true,'TWITTER')"> twitter</a>
                          </li>
                        </ul>
                      </div>
                      <div class="input-group" style = "margin: 5px;">
                        <input type="text" id="tweets_keywords" class="form-control" placeholder="Search Twitter Key Word" onkeydown='if(event.keyCode==13){search_tweets()}'>
                          <span class="input-group-btn">
                            <button class="btn btn-default" id="tweets_search" onclick="search_tweets()">Search</button>
                          </span>
                      </div><!-- /input-group -->
                      <div class="btn-group" data-toggle="buttons" id="social_data_control" style = "margin: 5px;">
                          <label class="btn btn-primary active">
                             <input id="radioDot" type="radio" name="visType" value="DotMap" checked/>Normal
                          </label>
                          <label class="btn btn-primary">
                             <input id="radioHeat" type="radio" name="visType" value="HeatMap"/>Heat Map
                          </label>
                        </div>
                        <br />
                      <div class="btn-group" data-toggle="buttons" style = "margin: 5px">
                        <label class="btn btn-default">Jam Level</label>
                        <label class="btn btn-primary" style = "color: #C5EB17;" onclick="jam_level(1)">
                          <input id="jamselect1" type="checkbox" autocomplete="off"><strong>1</strong>
                        </label>
                        <label class="btn btn-primary" style = "color: #FDE101;" onclick="jam_level(2)">
                          <input id="jamselect2" type="checkbox" autocomplete="off"><strong>2</strong>
                        </label>
                        <label class="btn btn-primary" style = "color: #FD4601;" onclick="jam_level(3)">
                          <input id="jamselect3" type="checkbox" autocomplete="off"><strong>3</strong>
                        </label>
                        <label class="btn btn-primary" style = "color: #CB0116;" onclick="jam_level(4)">
                          <input id="jamselect4" type="checkbox" autocomplete="off"><strong>4</strong>
                        </label>
                        <label class="btn btn-primary" style = "color: #680200;" onclick="jam_level(5)">
                          <input id="jamselect5" type="checkbox" autocomplete="off"><strong>5</strong>
                        </label>                                                                          
                      </div>
                    <!--</div>-->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6" style="padding: 0px; margin: 0px" align="center">
                  <div class="panel panel-success" style = "width: 360px; height:300px">
                    <div class="panel-heading">
                      <h3 class="panel-title">Twitter Word Cloud</h3>
                    </div>
                    <div class="panel-body" align="center" style = "padding: 3px">
                      <img id="word_cloud" style="width: 352px; height: 200px"/>
                    </div>
                    <div class="btn-group" data-toggle="buttons" style = "margin: 5px;">
                      <label class="btn btn-primary active">
                        <input id="wordoff" type="radio" name="visType" value="Off" checked/>Off
                      </label>
                      <label class="btn btn-primary">
                        <input id="wordon" type="radio" name="visType" value="On"/>On
                      </label>
                    </div>
                  </div>
                </div>
              </div>
                  
                </div>
              </div>
            </div>
          </div>
      </div><!-- /.col-lg-6 -->  
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery -->
    
	<script src="static/js/jquery.js"></script>
    <script src="static/js/moment.js"></script>
    <script src="static/js/bootstrap-datetimepicker.js"></script>


    
	<script src="static/js/leaflet.js"></script>
    <script src="static/js/Leaflet.Marker.Rotate.js"></script>
	<!--<script src="static/js/leaflet.js"></script>-->
	<script src="static/heatcanvas/heatcanvas.js"></script>
	<script src="static/heatcanvas/heatcanvas-leaflet.js"></script>
    <script src="static/js/leaflet.draw.js"></script>
	<script src="static/crossfilter/crossfilter.v1.min.js"></script>
	<script src="static/crossfilter/d3.v3.min.js"></script>
    <script type="text/javascript">

</script>
    

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/d3.slider.js"></script>
    <script src="static/js/map.js"></script>
    <script src="static/js/timechart.js"></script>	
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.7/fabric.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

  </body>
</html>

