.head-row {
    margin-bottom: 30px;
}

.title {
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}


/*.jstree-leaf a.jstree-anchor i.jstree-icon.jstree-themeicon { background: url("2.png") 0px 0px no-repeat !important;}*/

#jstree_search {
    width: 50%;
    display: inline;
}

#btn_save,
#btn_reset {
    width: 40%;
}


/*#tbl_videos_untagged{
	height: 100px;
    overflow: scroll;
}*/

#jstreeContainer {
    height: 800px;
    overflow: scroll;
}

.modal-dialog{
  width:50%
}
